* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $mainFont;
}

body {
    font-family: $mainFont;
    overflow-x: hidden;
    min-height: 100vh;
    width: 100%;
    background-color: #f6f9ff;
    display: flex;
    align-items: center;
    justify-content: center;
}

a {
    all: unset;
    text-decoration: none;
}

p {
    margin-bottom: 0px;
}

.dropdown-item {
    box-sizing: border-box;
}