$mainColor: #9057CD;
$mainDarkColor: #3D1E63;
$mainLightColor: #F6F3FA;
$titleColor: #3D1E63;
$dangerColor: #F32013;
$dangerLightColor: #FFF2F1;
$successColor: #01C879;
$successLightColor: #EEFBEC;
$warningColor: #F09F12;
$blackColor: #000000;
$textColor: #6779A1;
$darkTextColor: #4B5675;
$secondTextColor: #3D1E6380;
$whiteColor: #ffffff;
$mainBorderRadius: 7px;
$minBoxShadow : 0px 4px 17.6px 0px #00000017;
$mainFont: "Alexandria", serif;
